.main-container{
    width: 98%;
    align-items: center;
}

.footer-container{
    display: flex;
}
.footer-container-item{
    margin-left: 1%;
    margin-right: 11%;
    text-align: center;
}

.btn{
    border: 1px solid black;
    border-radius:5px;
}


  